<!-- Trang này sinh ra trang gioi thieu ve
+, Trường , giảng viên > xem thông tin giảng viên
+, Lĩnh vực và chủ đề nghiên cứu > giảng viên có lĩnh vực liên quan > xem thông tin giảng viên
-->
<!DOCTYPE html>
<html lang="en">
	<!-- BEGIN HEAD-->
	<% include ../template/head-link.ejs %>
	<!-- END HEAD-->
	<!--BEGIN BODY -->
	<body class="page-header-menu-fixed">
		<!-- BEGIN NAV -->
		<% include ../template/nav.ejs %>
		<!-- END NAV -->
		<!-- BEGIN PAGE CONTAINER -->
		<div class="page-container">
			<div class="page-head container">
				<div class="page-title">
					<h1>
					<%= title%>
					</h1>
				</div>
			</div>
			<div class="page-content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="profile-sidebar" style="width: 250px;">
								<!-- PORTLET MAIN -->
								<div class="portlet light profile-sidebar-portlet">
									<!--  BEGIN TITLE SIDEBAR -->
									<div class="profile-usertitle">
										<div class="profile-usertitle-name">
											UET - VNU
										</div>
									</div>
									<!--  BEGIN TITLE SIDEBAR -->
									<!-- SIDEBAR MENU -->
									<div class="profile-usermenu">
										<ul class="nav">
											<% for(var i = 0; i < allKhoa.length; i++) {%>
											<li>
												<a href="#<%= allKhoa[i].id %>" data-toggle="collapse">
													<%= allKhoa[i].tenKhoa %>
												</a>
												<ul class="nav collapse" id="<%= allKhoa[i].id %>">
													  <% for(var temp = 0; temp < allKhoa[i].DonVis.length; temp++) {%>
													<li>
														<a href="#">
															<i class="icon-home"></i>
															<%= allKhoa[i].DonVis[temp].tenDonVi %>
														</a>
													</li>
													<% } %>
												</ul>
											</li>
											<% } %>
										</ul>
									</div>
									<!-- END MENU -->
								</div>
								<!-- END PORTLET MAIN -->
							</div>
							<!-- BEGIN LIST LECTURES -->
							<div class="col-md-9">
								<div class="portlet light">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-graduation-cap" aria-hidden="true"></i>
											<span class="caption-subject bold uppercase">Danh sách giảng viên</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="row thumbnails">
											<!-- BEGIN LECTURES -->
											<div class="col-md-4">
												<div class="meet-our-team">
													<h3>Bob Nilson</h3>
													<img src="../../assets/admin/pages/media/pages/2.jpg" alt="" class="img-responsive">
													<div class="team-info">
														<p>
															Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
														</p>
													</div>
												</div>
											</div>
											<!-- END LECTURES -->
											<!-- BEGIN LECTURES -->
											<div class="col-md-4">
												<div class="meet-our-team">
													<h3>Marta Doe</h3>
													<img src="../../assets/admin/pages/media/pages/3.jpg" alt="" class="img-responsive">
													<div class="team-info">
														<p>
															Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
														</p>
													</div>
												</div>
											</div>
											<!-- END LECTURES -->
											<!-- BEGIN LECTURES -->
											<div class="col-md-4">
												<div class="meet-our-team">
													<h3>Bob Nilson</h3>
													<img src="../../assets/admin/pages/media/pages/2.jpg" alt="" class="img-responsive">
													<div class="team-info">
														<p>
															Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
														</p>
													</div>
												</div>
											</div>
											<!-- END LECTURES -->
											<!-- BEGIN LECTURES -->
											<div class="col-md-4">
												<div class="meet-our-team">
													<h3>Marta Doe</h3>
													<img src="../../assets/admin/pages/media/pages/3.jpg" alt="" class="img-responsive">
													<div class="team-info">
														<p>
															Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
														</p>
													</div>
												</div>
											</div>
											<!-- END LECTURES -->
											<!-- BEGIN LECTURES -->
											<div class="col-md-4">
												<div class="meet-our-team">
													<h3>Marta Doe</h3>
													<img src="../../assets/admin/pages/media/pages/3.jpg" alt="" class="img-responsive">
													<div class="team-info">
														<p>
															Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
														</p>
													</div>
												</div>
											</div>
											<!-- END LECTURES -->
											<!-- BEGIN LECTURES -->
											<div class="col-md-4">
												<div class="meet-our-team">
													<h3>Marta Doe</h3>
													<img src="../../assets/admin/pages/media/pages/3.jpg" alt="" class="img-responsive">
													<div class="team-info">
														<p>
															Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
														</p>
													</div>
												</div>
											</div>
											<!-- END LECTURES -->
										</div>
									</div>
								</div>
							</div>
							<!-- END LIST LECTURES -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTAINER -->
		<!-- BEGIN FOOTER -->
		<% include ../template/footer.ejs %>
		<% include ../template/foot-link.ejs %>
		<!-- END FOOTER -->
	</body>
	<!-- END BODY-->
</html>
